/* Importações */
@import "variables";

div#body {
    ::selection {
        /* Seleção do Texto */
        background: $bgPrimaryColor;
        color: $txtSecondaryColor;
    }
    * {
        scrollbar-color: $bgTertiaryColor $bgQuaternaryColor;
    }
    *:hover {
        scrollbar-color: $bgPrimaryColor $bgQuaternaryColor;
    }
    a:link {
        color: $txtPrimaryColor;
    }
    a:visited {
        color: none;
    }

    * {
        &::-webkit-scrollbar {
            background: $bgScrollbar;
        }
        &::-webkit-scrollbar-thumb {
            background: $bgScrollbarThumb;
        }
    }
    *:hover {
        &::-webkit-scrollbar {
            background: $h-bgScrollbar;
        }
        &::-webkit-scrollbar-thumb {
            background: $bgScrollbarThumb;
        }
    }
}
div#body {
    color: $txtTertiaryColor;

    aside#navegation {
        background: $bgFifthColor;

        nav {
            hr.asdHr {
                border: 1px solid $h-bgRevertColor;
            }
            div.asdButton {
                * {
                    color: $txtSecondaryColor;
                }
            }
        }
    }
    div#mainFlex {
        header {
            background: $bgFifthColor;
            color: $txtSecondaryColor;
            z-index: 3;
        }
        main#main {
            background: $bgFifthColor;

            article#main {
                background: $bgTertiaryColor;

                div#playlistBg {
                    & > div#playlistBgGradient {
                        background: radial-gradient(#0001, #2a2a2a50);
                        backdrop-filter: blur(20px);
                    }
                }
                div#playlistsSpace {
                    div.playlistContainer {
                        background: #3338;
                        border: 2px solid #0000;
                        box-shadow: 0.1em 0.1em 0.75em #0002;

                        div.playlistImage {
                            box-shadow: 0em 0em 0.5em #0004;
                        }
                    }
                    div.playlistContainer:hover {
                        background: #2228;
                        border: 2px solid $h-bgPrimaryColor;
                        box-shadow: 0.1em 0.1em 1em #0005;
                    }
                }
            }
        }
        footer {
            background: $bgQuaternaryColor;
            color: $txtSecondaryColor;
        }
    }
}
div.floatBoxesController {
    & > div.navFloatingMenu {
        background: $bgSecondaryColor;
        box-shadow: 0rem 0rem 1rem #0004;
    }
}
