/* Importações */
@import "variables";

/* Padrões */
div#body {
    /* Remoção da Margem Padrão */
    margin: 0px;
    * {
        /* Regras Padrões */
        box-sizing: border-box;
        transition: 0.2s;
    }
    img {
        user-select: none;
    }
    a:link,
    a:visited {
        text-decoration: none;
    }

    ::-webkit-scrollbar {
    }
    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
}

/* Declarações */
div#body {
    height: 100vh;
    display: flex;
    overflow: hidden;

    aside#navegation {
        position: relative;
        z-index: 3;

        nav {
            // Navegação
            width: calc($max-Width-normalPc / 24 * 0.8);
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;

            div.navTopDivision {
                // Divisão superior do nav
                width: 100%;
                height: calc($max-Width-normalPc / 24 * 0.8);

                a.asdLogo {
                    width: calc($max-Width-normalPc / 24 * 0.8);
                    height: calc($max-Width-normalPc / 24 * 0.8);
                    display: flex;

                    & > img {
                        border-radius: 100%;
                        margin: calc($max-Width-normalPc / 24 * 0.075);
                    }
                }
            }
            div.navCenterDivision {
                // Divisão central do nav
                width: 100%;
                height: calc(100vh - ($max-Width-normalPc / 24 * 1.6));
            }
            div.navBottomDivision {
                // Divisão inferior do nav
                width: 100%;
                height: calc($max-Width-normalPc / 24 * 0.8);
            }

            div.asdButton {
                width: calc($max-Width-normalPc / 24 * 0.8);
                height: calc($max-Width-normalPc / 24 * 0.8);
                cursor: pointer;
                user-select: none;

                & > div,
                & > a {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font: 450 1.9em "Ubuntu", sans-serif;

                    & > img {
                        width: 75%;
                        height: 75%;
                    }
                }
            }

            & hr.asdHr {
                width: 90%;
                border-radius: 25%;
                margin: calc($max-Width-normalPc / 24 * 0.075) 0px;
            }
        }
        flex-shrink: 0;
    }
    div#mainFlex {
        /* Conteúdo */
        width: 100%;
        height: 100vh;
        overflow-y: hidden;

        header {
            /* Cabeçalho */
            height: calc($max-Width-normalPc / 24 * 0.8);
            width: 100%;
            font: 700 1.25em "Ubuntu", sans-serif;
            user-select: none;
            position: relative;
            z-index: 3;

            div {
                /* Conteúdo do Cabeçalho */
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        main {
            position: relative;
            height: 100%;
            overflow-x: hidden;
            z-index: 1;

            & > * {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
            }
            article#main {
                // Main
                height: calc(100vh - ($max-Width-normalPc / 24 * 0.8));
                position: absolute;
                z-index: 2;

                div#playlistBg {
                    // Background Geral
                    background: no-repeat center;
                    background-size: 100%;
                    height: 100%;
                    border-radius: 0.6em 0em 0em 0.6em;

                    & > div#playlistBgGradient {
                        height: 100%;
                        border-radius: 0.6em 0em 0em 0.6em;
                    }
                }
                div#playlistsSpace {
                    width: 100%;
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 2rem;


                    & > div#playlistsList {
                        width: 100%;
                        height: max-content;
                        padding: 1.25em 1em;
                        overflow-x: auto;
                        overflow-y: hidden;
                        display: flex;
                        flex-direction: row;

                        &::-webkit-scrollbar {
                            width: 0px;
                        }

                        & > div.playlistContainer {
                            margin-right: 1rem;
                        }
                    }
                    & > div#allPlaylists {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        justify-content: center;
                        grid-gap: 1rem;

                        & > div.playlistContainer {
                            margin-right: 0px;
                        }
                    }
                }
                div.playlistContainer {
                    min-width: calc($max-Width-normalPc / 24 * 7);
                    max-width: calc($max-Width-normalPc / 24 * 7);
                    height: max-content;
                    border-radius: 1em;
                    display: flex;
                    cursor: pointer;

                    & > div.playlistLeftSpace {
                        padding: 0.5rem;
                        height: 100%;
                        display: flex;

                        & > div.playlistImage {
                            width: calc(20vh - 1rem);
                            height: calc(20vh - 1rem);
                            background-size: 100% 100%;
                            border-radius: 0.5rem;
                        }
                    }
                    & > div.playlistRightSpace {
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        padding: 0.5rem;
                        overflow: hidden;

                        & > div.playlistTitle {
                            width: 100%;
                            height: 38%;
                            display: flex;
                            align-items: flex-end;
                            margin-bottom: 4%;
                            font: bold 1.4rem "Ubuntu", sans-serif;
                        }
                        & > div.playlistDescription {
                            height: 46.5%;
                            display: flex;
                            align-items: flex-start;

                            & > p {
                                display: -webkit-box;
                                margin: 0px;
                                font: 0.85rem "Ubuntu", sans-serif;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
            & > div.dev-alert {
                // Alerta da Página Principal
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                & > div {
                    text-align: center;
                    width: 100%;
                    padding: 0px calc($max-Width-normalPc / 24 * 0.5);
                }
                & > div:first-child {
                    font: 500 3em "Ubuntu", sans-serif;
                    margin: 0px 0px calc($max-Width-normalPc / 24 * 0.25) 0px;
                }
                & > div:last-child > span {
                    font: 400 1.25em "Ubuntu", sans-serif;
                }
                @media screen and (max-width: 500px) {
                    & > div:first-child {
                        font: 500 2.25em "Ubuntu", sans-serif;
                    }
                    & > div:last-child > span {
                        font: 400 0.75em "Ubuntu", sans-serif;
                    }
                }
            }
        }
    }
    div.floatBoxesController {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    
        & > div.navFloatingMenu {
            position: absolute;
            z-index: 2;
            width: calc($max-Width-normalPc / 24 * 5.5);
            height: 400px; // TEMP
            border-radius: 0.75rem;
        }
    }
}

