@import '../_global_vars';

@media (min-width: $minWidthPC) and (max-width: $maxWidthPC) {
    nav.navegation {
        // Navegação
        width: calc($maxWidthPC / 24 * 0.7);
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;

        div.navTopDivision {
            // Divisão superior do nav
            width: 100%;
            height: calc($maxWidthPC / 24 * 0.7);

            a.asdLogo {
                width: calc($maxWidthPC / 24 * 0.7);
                height: calc($maxWidthPC / 24 * 0.7);
                display: flex;

                & > img {
                    border-radius: 100%;
                    margin: calc($maxWidthPC / 24 * 0.065);
                }
            }
        }
        div.navCenterDivision {
            // Divisão central do nav
            width: 100%;
            height: calc(100vh - ($maxWidthPC / 24 * 1.5));
        }
        div.navBottomDivision {
            // Divisão inferior do nav
            width: 100%;
            height: calc($maxWidthPC / 24 * 0.7);
        }

        div.asdButton {
            width: calc($maxWidthPC / 24 * 0.7);
            height: calc($maxWidthPC / 24 * 0.7);
            cursor: pointer;
            user-select: none;

            & > * {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                font: 450 1.9em "Ubuntu", sans-serif;

                img.asdImage {
                    width: 75%;
                    height: 75%;
                }
            }
        }

        hr.asdHr {
            width: 90%;
            border-radius: 25%;
            margin: calc($maxWidthPC / 24 * 0.065) 0px;
        }
    }
}