@import "../themes/dark-theme/_variables";

div.generalSpace {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    div.socialMediaDiv {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 70%;

        div.socialMediaBox {
            margin: 0px 1%;
            text-align: center;
        }
        div#github {

        }
        div#discord {

        }
        div#spotify {

        }
    }
    div.redirects {
        display: flex;
        padding: 1em;

        & > a {
            width: 20vw;
            font: bold 1em 'Arial', sans-serif;
            text-align: center;
            padding: 1.5em 2rem;
            text-shadow: 2px 2px 5px #0003;

            &:link {
                color: $mistBg-lgt-txtPrimaryColor;
            }
            &:visited {
                color: $mistBg-lgt-txtPrimaryColor;
            }
        }
    }
}