div.presentationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 10vw;

    div#presentationText {
        text-align: center;
        font:
            600 1.25em "Ubuntu",
            sans-serif;
        color: #ccc;
        text-shadow: 2px 2px 1px #0002;

        @media (max-width: 820px) {
            text-align: justify;
        }
    }
    div#presentationObs {
        width: 70%;
        text-align: center;
        font:
            700 1em "Ubuntu",
            sans-serif;
        margin-top: 0.5em;
        color: #555;
    }
}
