// Cores De Fundo
$bgPrimaryColor: #90f;
$h-bgPrimaryColor: #70d;
$a-bgPrimaryColor: #60b;
$bgSecondaryColor: #2a2a2a;
$h-bgSecondaryColor: #242424;
$a-bgSecondaryColor: #1f1f1f;
$bgTertiaryColor: #262626;
$h-bgTertiaryColor: #161616;
$a-bgTertiaryColor: #0b0b0b;
$bgQuaternaryColor: #333;
$h-bgQuaternaryColor: #303030;
$a-bgQuaternaryColor: #1c1c1c;
$bgFifthColor: #161616;
$h-bgFifthColor: #010101;
$a-bgFifthColor: #060606;

$bgRevertColor: #aaa;
$h-bgRevertColor: #888;
$a-bgRevertColor: #666;
// Scrollbar
$bgScrollbar: #3331;
$h-bgScrollbar: #3333;
$bgScrollbarThumb: #5552;
$h-bgScrollbarThumb: #5556;

// Cores de Texto
$txtPrimaryColor: #a0f;
$mistBg-lgt-txtPrimaryColor: #80b;
$h-txtPrimaryColor: #80d;
$a-txtPrimaryColor: #70b;
$txtSecondaryColor: #ddd;
$h-txtSecondaryColor: #aaa;
$a-txtSecondaryColor: #999;
$txtTertiaryColor: #bbb;
$h-txtTertiaryColor: #999;
$a-txtTertiaryColor: #888;