/* Importações */
@import "variables";

div#body {
    ::selection {
        /* Seleção do Texto */
        background: $bgPrimaryColor;
        color: $txtSecondaryColor;
    }
    * {
        scrollbar-color: $bgTertiaryColor $bgQuaternaryColor;
    }
    *:hover {
        scrollbar-color: $bgPrimaryColor $bgQuaternaryColor;
    }
    a:link {
        color: $txtPrimaryColor;
    }
    a:visited {
        color: none;
    }

    * {
        &::-webkit-scrollbar {
            background: $bgScrollbar;
        }
        &::-webkit-scrollbar-thumb {
            background: $bgScrollbarThumb;
        }
    }
    *:hover {
        &::-webkit-scrollbar {
            background: $h-bgScrollbar;
        }
        &::-webkit-scrollbar-thumb {
            background: $bgScrollbarThumb;
        }
    }
}
div.body {
    color: $txtSecondaryColor;

    aside.navegation {
        background: $bgFifthColor;

        nav {
            hr.asdHr {
                border: 1px solid $h-bgRevertColor;
            }
            div.asdButton {
                * {
                    color: $txtSecondaryColor;
                }
            }
        }
    }
    div.mainFlex {
        background: $bgFifthColor;

        header.mainHeader {
            background: $bgFifthColor;
            color: $txtSecondaryColor;
            z-index: 3;
        }
        main {
            background: $bgTertiaryColor;

            div#playlistBg {
                & > div#playlistBgGradient {
                    background: radial-gradient(#0001, #2a2a2a50);
                    backdrop-filter: blur(12px);
                }
            }

            article.mainContent {
                div#playlistsSpace {
                    a.playlistContainer {
                        background: #3338;
                        color: $txtSecondaryColor;
                        border: 2px solid #0000;
                        box-shadow: 0.1em 0.1em 0.75em #0002;

                        div.playlistImage {
                            box-shadow: 0em 0em 0.5em #0004;
                        }
                    }
                    a.playlistContainer:hover {
                        background: #2228;
                        border: 2px solid $h-bgPrimaryColor;
                        box-shadow: 0.1em 0.1em 1em #0005;
                    }
                }
                div.mainPageSpace {
                    div.perfilBg {
                        div.bgEffect {
                            background: #0005;
                            backdrop-filter: blur(15px);
                        }
                    }
                    div.perfilSpace {
                        div.avatarSpace {
                            div.avatarImg {
                                box-shadow: 0px 0px 1rem #0005;
                            }
                        }
                        div.nameSpace {
                            div.username {
                                color: $txtSecondaryColor;
                                text-shadow: 0px 0px 1rem #0005;
                            }
                        }
                    }
                }
            }
        }
        footer.mainFooter {
            background: $bgQuaternaryColor;
            color: $txtSecondaryColor;
        }
    }
}
div.floatBoxesController {
    & > div.navFloatingMenu {
        background: $bgSecondaryColor;
        box-shadow: 0rem 0rem 1rem #0004;
    }
}
