/* Importações */
@import "variables";

/* Padrões */
body {
    /* Remoção da Margem Padrão */
    margin: 0px;
}
* {
    /* Regras Padrões */
    box-sizing: border-box;
    transition: width, height, 0.2s;
}

/* Declarações */
body {
    height: 100vh;
    display: flex;
    overflow: hidden;

    aside {
        width: calc($max-Width-normalPc / 24 * 0.8);

        nav {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            div.navTopDivision {
                width: 100%;
                height: calc($max-Width-normalPc / 24 * 0.8);

                a.asdLogo {
                    width: calc($max-Width-normalPc / 24 * 0.8);
                    height: calc($max-Width-normalPc / 24 * 0.8);
                    display: flex;

                    & > img {
                        border-radius: 100%;

                        margin: calc($max-Width-normalPc / 24 * 0.075);
                    }
                }
            }
            div.navCenterDivision {
                width: 100%;
                height: calc(100vh - ($max-Width-normalPc / 24 * 1.6));
            }
            div.navBottomDivision {
                width: 100%;
                height: calc($max-Width-normalPc / 24 * 0.8);
            }
            div.asdButtonSpace {
                width: calc($max-Width-normalPc / 24 * 0.8);
                height: calc($max-Width-normalPc / 24 * 0.8);
                display: flex;
                margin: 0px 0px $asdButtonMargin;
                &:hover {
                    width: calc(($max-Width-normalPc / 24 * (0.8 + 4)) + $asdButtonMargin);
                }
                &:hover > div.asdButtonMenu {
                    visibility: visible;
                    width: calc($max-Width-normalPc / 24 * 4);
                    margin-left: $asdButtonMargin;
                }

                * {
                    z-index: 3;
                }
                & > div.asdButtonLogo {
                    width: calc($max-Width-normalPc / 24 * 0.8);
                    height: calc($max-Width-normalPc / 24 * 0.8);

                    & > div {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font: 450 1.9em "Ubuntu", sans-serif;
                    }
                }
                & > div.asdButtonMenu {
                    width: 0px;
                    visibility: hidden;
                    height: calc($max-Width-normalPc / 24 * 0.8);
                    border-radius: calc($max-Width-normalPc / 24 * 0.15);

                    &:hover {
                        height: 100%;
                    }
                }
            }
            & hr.asdHr {
                width: 90%;
                border-radius: 25%;
                margin: calc($max-Width-normalPc / 24 * 0.075) 0px;
            }
        }
        flex-shrink: 0;
    }
    main {
        width: 100%;
        height: 100vh;
        overflow-y: auto;

        header {
            height: calc($max-Width-normalPc / 24 * 0.8);
            width: 100%;
            font: 700 1.25em "Ubuntu", sans-serif;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        section:first-of-type {
            position: relative;
            height: calc(100vh - ($max-Width-normalPc / 24 * 0.8));
            overflow-x: hidden;

            & > * {
                width: 100%;
                height: 50%;
                position: absolute;
                z-index: 1;
            }
            article {
                height: 100%;
                border-radius: 0.5em 0em 0em;
                position: absolute;
                z-index: 2;

                & > div {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    & > div {
                        text-align: center;
                        width: 100%;
                        padding: 0px calc($max-Width-normalPc / 24 * 0.5);
                    }
                    & > div:first-child {
                        font: 500 3em "Ubuntu", sans-serif;
                        margin: 0px 0px calc($max-Width-normalPc / 24 * 0.25) 0px;
                    }
                    & > div:last-child > span {
                        font: 400 1.25em "Ubuntu", sans-serif;
                    }
                    @media screen and (max-width: 500px) {
                        & > div:first-child {
                            font: 500 2.25em "Ubuntu", sans-serif;
                        }
                        & > div:last-child > span {
                            font: 400 0.75em "Ubuntu", sans-serif;
                        }
                    }
                }
            }
            div.radiusOne {
                top: 0px;
            }
            div.radiusTwo {
                bottom: 0px;
            }
        }
    }
}