/* Importações */
@import "variables";

::selection {
    /* Seleção do Texto */
    background: $bgPrimaryColor;
    color: $txtSecondaryColor;
}
* {
    scrollbar-color: $bgTertiaryColor $bgQuaternaryColor;
}
*:hover {
    scrollbar-color: $bgPrimaryColor $bgQuaternaryColor;
}
a:link {
    color: $txtPrimaryColor;
}
a:visited {
    color: $txtSecondaryColor
}

body {
    color: $txtTertiaryColor;

    aside {
        background: $bgTertiaryColor;
        box-shadow: 8px 0px 12px #0003;

        nav {
            & hr.asdHr {
                border: 1px solid $h-bgRevertColor;
            }
            div.asdButtonSpace {
                & > div.asdButtonLogo {
                    a:link {
                        color: $txtSecondaryColor;
                    }
                }
                & > div.asdButtonMenu {
                    background: $bgQuaternaryColor;
                    box-shadow: 0px 0px 10px #0003;
                }
            }
        }
    }
    main {
        header {
            background: $bgTertiaryColor;
            color: $txtSecondaryColor;
            box-shadow: 0px 8px 12px #0003;
            z-index: 3;
        }
        section:first-of-type {
            article#main {
                background: $bgSecondaryColor;

                div#playlistBg {
                    & > div#playlistBgGradient {
                        background: radial-gradient(#0001, #2a2a2a50);
                        backdrop-filter: blur(20px);
                    }
                }
                div#playlistsSpace {
                    & > div#playlistsList {
                        & > div.playlistContainer {
                            background: $bgQuaternaryColor;
                            border: 2px solid #000b;
                            box-shadow: 0.25em 0.25em 0.5em #0003;
                        }
                    }
                }
            }
            div.radiusOne {
                background: $bgTertiaryColor;
            }
        }
        footer {
            background: $bgQuaternaryColor;
            color: $txtSecondaryColor;
        }
    }
}