/* Importações */
@import "variables";

::selection {/* Seleção do Texto */
    background: $bgPrimaryColor;
    color: $txtSecondaryColor;
}

body {
    color: $txtTertiaryColor;
    scrollbar-color: $bgPrimaryColor $bgQuaternaryColor;

    aside {
        background: $bgTertiaryColor;

        nav {
            & hr.asdHr {
                border: 1px solid $h-bgRevertColor;
            }
            div.asdButtonSpace {
                & > div.asdButtonMenu {
                    background: $bgQuaternaryColor;
                    box-shadow: 0px 0px 10px #0003;
                }
            }
        }
    }
    main {
        header {
            background: $bgTertiaryColor;
            color: $txtSecondaryColor;
        }
        section:first-of-type {
            article {
                background: $bgSecondaryColor;
            }
            div.radiusOne {
                background: $bgTertiaryColor;
            }
            div.radiusTwo {
                background: $bgQuaternaryColor;
            }
        }
        footer {
            background: $bgQuaternaryColor;
            color: $txtSecondaryColor;
        }
    }
}
