/* Cores De Fundo */
$bgPrimaryColor: #90f;
$h-bgPrimaryColor: #70d;
$a-bgPrimaryColor: #60b;
$bgSecondaryColor: #2a2a2a;
$h-bgSecondaryColor: #242424;
$a-bgSecondaryColor: #1f1f1f;
$bgTertiaryColor: #222;
$h-bgTertiaryColor: #161616;
$a-bgTertiaryColor: #0b0b0b;
$bgQuaternaryColor: #333;
$h-bgQuaternaryColor: #282828;
$a-bgQuaternaryColor: #1c1c1c;

$bgRevertColor: #aaa;
$h-bgRevertColor: #888;
$a-bgRevertColor: #666;

/* Cores de Texto */
$txtPrimaryColor: #a0f;
$h-txtPrimaryColor: #80d;
$a-txtPrimaryColor: #70b;
$txtSecondaryColor: #ccc;
$h-txtSecondaryColor: #aaa;
$a-txtSecondaryColor: #999;
$txtTertiaryColor: #bbb;
$h-txtTertiaryColor: #999;
$a-txtTertiaryColor: #888;