@import "../global_vars";
@import "../themes//dark-theme/_variables";

div.mainBox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    div.textBox {
        padding: 1em 0em;
        font: 1.35em "Ubuntu", sans-serif;
        text-align: justify;
    }
}