div.mainPageSpace {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;

    div.perfilBg {
        width: 100vw;
        height: 100vh;
        background: #555;
        position: absolute;
        background: 0px 60% / cover no-repeat scroll;

        div.bgEffect {
            width: 100%;
            height: 100%;
        }
    }
    div.elementsBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 9;
        width: inherit;
        height: inherit;
        padding: 0% 5vw;

        div.mainContentSpace {
            padding: 2em 0em;
        }
    }
}
