/* Importações */
@import "../global_vars";
@import "../lib/mixins";
@import "../fonts";

/* Padrões */
div#body {
    /* Remoção da Margem Padrão */
    margin: 0px;
    * {
        /* Regras Padrões */
        box-sizing: border-box;
        transition: 0.2s;
    }
    img {
        user-select: none;
    }
    a:link,
    a:visited {
        text-decoration: none;
    }
    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
}

/* Declarações */
div.body {
    height: 100vh;
    display: flex;
    overflow: hidden;

    aside.navegation {
        position: relative;
        z-index: 3;
        flex-shrink: 0;
    }
    div.mainFlex {
        /* Conteúdo */
        width: 100%;
        height: 100vh;
        overflow-y: hidden;

        header {
            /* Cabeçalho */
            height: calc($max-Width-normalPc / 24 * 0.8);
            width: 100%;
            font: 700 1.25em "Ubuntu", sans-serif;
            user-select: none;
            position: relative;
            z-index: 3;

            div {
                /* Conteúdo do Cabeçalho */
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
        main.main {
            position: relative;
            height: 100%;
            overflow-x: hidden;
            z-index: 1;

            & > * {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
            }
            article.main {
                // Main
                height: calc(100vh - ($max-Width-normalPc / 24 * 0.8));
                position: absolute;
                border-radius: 0.6em;
                overflow: hidden;
                z-index: 2;

                & > * {
                    overflow: auto;
                }
                div#playlistBg {
                    // Background Geral
                    background: no-repeat center;
                    background-size: 100%;
                    height: 100%;
                    border-radius: 0.6em 0em 0em 0.6em;

                    & > div#playlistBgGradient {
                        height: 100%;
                        border-radius: 0.6em 0em 0em 0.6em;
                    }
                }
                div#playlistsSpace {
                    width: 100%;
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding: 2rem;

                    & > div#playlistsList {
                        width: 100%;
                        height: max-content;
                        padding: 1.25em 1em;
                        overflow-x: auto;
                        overflow-y: hidden;
                        display: flex;
                        flex-direction: row;

                        &::-webkit-scrollbar {
                            width: 0px;
                        }

                        & > a.playlistContainer {
                            margin-right: 1rem;
                        }
                    }
                    & > div#allPlaylists {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        justify-content: center;
                        grid-gap: 1rem;

                        & > a.playlistContainer {
                            margin-right: 0px;
                        }
                    }
                }
                a.playlistContainer {
                    min-width: calc($max-Width-normalPc / 24 * 7);
                    max-width: calc($max-Width-normalPc / 24 * 7);
                    height: max-content;
                    border-radius: 1em;
                    display: flex;
                    cursor: pointer;

                    & > div.playlistLeftSpace {
                        padding: 0.5rem;
                        height: 100%;
                        display: flex;

                        & > div.playlistImage {
                            width: calc(20vh - 1rem);
                            height: calc(20vh - 1rem);
                            background-size: 100% 100%;
                            border-radius: 0.5rem;
                        }
                    }
                    & > div.playlistRightSpace {
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        padding: 0.5rem;
                        overflow: hidden;

                        & > div.playlistTitle {
                            width: 100%;
                            height: 38%;
                            display: flex;
                            align-items: flex-end;
                            margin-bottom: 4%;
                            font: bold 1.4rem "Ubuntu", sans-serif;
                        }
                        & > div.playlistDescription {
                            height: 46.5%;
                            display: flex;
                            align-items: flex-start;

                            & > p {
                                display: -webkit-box;
                                margin: 0px;
                                font: 0.85rem "Ubuntu", sans-serif;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
                div#mainPageSpace {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100vh;

                    div#perfilBg {
                        width: 100%;
                        height: 50vh;
                        background: #555;
                        position: absolute;
                        background: 0px -800px/cover no-repeat scroll;

                        div#bgGradient {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    div#perfilSpace {
                        display: grid;
                        grid-template-columns: 33.3% 33.3% 33.3%;
                        grid-template-rows: 50vh auto;
                        position: absolute;
                        z-index: 9;
                        width: 80%;
                        align-items: center;

                        div#avatarSpace {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            padding: 10%;
                            display: flex;
                            flex-direction: row;

                            div#avatarImg::before {
                                content: "";
                                height: 0;
                                float: left;
                                padding-bottom: 100%;
                            }
                            div#avatarImg {
                                width: 100%;
                                border-radius: 100%;
                                user-select: none;
                                pointer-events: none;
                                overflow: hidden;
                                position: relative;
                                height: auto;
                            }
                            div#avatarImg::after {
                                content: "";
                                display: block;
                                clear: both;
                            }
                        }
                        div#nameSpace {
                            grid-column-start: 2;
                            grid-column-end: 5;

                            div#username {
                                font: bold 8rem 'Arial', sans-serif;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }
    }
    div.floatBoxesController {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        & > div.navFloatingMenu {
            position: absolute;
            z-index: 2;
            width: calc($max-Width-normalPc / 24 * 5.5);
            height: 400px; // TEMP
            border-radius: 0.75rem;
        }
    }
}
